  
// <uniquifier>: Use a uniquifier for the class name
// <weight>: Use a value from 100 to 900

.inter-<uniquifier> {
  font-family: "Inter", sans-serif;
  font-optical-sizing: auto;
  font-weight: <weight>;
  font-style: normal;
  font-variation-settings:
    "slnt" 0;
}


.top {
    background-image: url("resources/Banner Image.png");
    height: 600px;
    color: white;
    text-align: center;
    padding-top: 100px;
    font-size: 60px;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

}
.offer {
    text-align: center;    
    color: #FF0000;
    font-size: 88px;
    font-family: merriweather;
}

.part-2 {
    text-align: center;
    
}

.part-3 {
    text-align: left;
    color: white;    
    background-image: url(resources/Vectorrr.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    margin: 25px 100px 40px 100px;    
}

.banner-title2 {
    align-items: center;
    text-align: left;    
    padding: 20px 60px 10px;
    width: 50%;
    height: 100px;

}

.title-midnight {
    font-size: 65px;
    }

.part-4 {
    text-align: center;
    background-color: antiquewhite;
    font-size: 32px;
    margin: 25px 100px 40px 100px;
    padding: 40px;
}
.vanue {
    color: red;
}

.part-5 {
    display: flex;
    margin: 25px 100px 40px 100px;
}
.holidays {
    align-items: center;
    text-align: center;
    margin: 25px 100px 40px 100px;
}
.holiday-highlights {
    color: #FF0000;
}

.holiday-image {
    background-image: url("resources/Rectangle 2.png");
    background-repeat: no-repeat;
    background-position: bottom;
   
}
.portfolio-items {
    align-items: center;
    text-align: left;    
    margin: 10px 80px 10px;

}
.portfolio-gift {
    font-size: 24px;
    color: #FF0000;
}
.portfolio-title {
    font-size: 40px;
}

.news-letter {
    width: 1340px;
    height: 616;    
    background-color: antiquewhite;
    align-items: center;
    text-align: center;    
    margin: 10px 80px 10px;
    

}

.last-part {
    background-color: black;
    padding: 10px;
    color: white;

}

.submit-button {
    
}

.contact-details {
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: space-between;
    margin: 25px 100px 40px 100px;

}

.icon {
    align-items: center;
    text-align: center;
    margin: 10px 100px 15px 100px;
    
}

.copyright-section {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 20px 100px 30px 100px;
}